<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% load static %}
<body>
    <center><img src="{% static 'img/don2.jpg' %}" width="100%" height="100%"></center>
    <center><h2 class="text-center">About Us:</h2></center>
    <center>
<div class="row container ">
    <p class="fs-4 text-center">
        Godwin Brilliant Academy was established on 8th of September, 2009 as a tutorial coaching centre.The Primary objective of Godwin Brilliant Academy is to offer high standard of education to everybody irrespective of the race, religion, ethnic group or financial status.The secondary objective is to ensure that students receive the right quantity and quality education with negligible or small fund. With these objectives, students in the Metropolis or within the vicinity don’t need to go far away in search of adequate knowledge.
    </p>
    <br>
    <h2 class="text-center">Motto:</h2>
    <div class="row container">
        <p class="fs-4 text-center">
            The Motto of the school is reliability and success. This means that students that depend or rely on the teaching of Godwin Brilliant Academy must come out with flying colours.At this juncture, it is important to disclose the mission statement of the school.Before the end of 2009/2010 session, the total number of students that the school recorded was one hundred and fifty one. The number increased tremendously to two hundred and fifteen students in 2010/2011 session. Till date, the number of students preparing for the named examination above is on the increase.
        </p>
    </div>
</center>
</div>
</body>
</html>


