{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date_of_Birth</th>
      <th scope="col">Sex</th>
      <th scope="col">Nationality</th>
      <th scope="col">State</th>
      <th scope="col">LGA</th>
      <th scope="col">Tribe</th>
      <th scope="col">City</th>
      <th scope="col">Religion</th>
      <th scope="col">Blood Group</th>
      <th scope="col">Guidance's Name</th>
      <th scope="col">Guidance's Occupation</th>
      <th scope="col">Guidance's Address</th>
      <th scope="col">Guidance's Phone</th>
      <th scope="col">Class</th>
      <th scope="col">Email</th>
      <th scope="col">Admission Number</th>
      <th scope="col">Created At</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  
  <tbody>
   
  {% if records %}
	{% for record in records %}
		<tr>
			<td>{{ record.s_name }}</td>
			<td>{{ record.date_of_birth }}</td>
			<td>{{ record.sex }}</td>
			<td>{{ record.nationality }}</td>
			<td>{{ record.state }}</td>
			<td>{{ record.l_g_a }}</td>
			<td>{{ record.tribe }}</td>
      <td>{{ record.city }}</td>
      <td>{{ record.religion }}</td>
      <td>{{ record.blood_group }}</td>
      <td>{{ record.guidance_name }}</td>
      <td>{{ record.guidance_occupation }}</td>
      <td>{{ record.guidance_address }}</td>
      <td>{{ record.guidance_phone }}</td>
      <td>{{ record.clas }}</td>
      <td>{{ record.email }}</td>
      <td>{{ record.admission_number }}</td>
			<td>{{ record.created_at }}</td>
			<td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
		</tr>
	{% endfor %}

{% endif %}

	  </tbody>
	</table>

{% else %}

<div class="col-md-6 offset-md-3">
<h1 class="text-center">Login Here!</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <div class="d-grid">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>

{% endif %}

{% endblock %}